# Virtual environments
venv/
myenv/
env/
cds_venv/

# Ignore everything in the folder and add the folder
source/notebooks/kurs_not_defined/data/landsatxplorer/working/*
!source/notebooks/kurs_not_defined/data/landsatxplorer/working/*

kurs_backups/
kurs_ArcGIS/
sentinel2-without-esri/

# Secrets and API keys
source/secrets/
**/.cdsapirc
**/cds_api

# Archived data
*.zip
*.tar
*.tar.gz
*.7z
*.rar
*.gz
*.SAFE

*.csv
*.xls
*.xlsx

# Temporary files
*.aux.xml
*.ovr
*.idx
*.lock

*.nc
*.tiff
*.tif
*.TIF
*.TIFF

# Image files
*.png
# add all png files inside docs
!docs/**/*.png
*.gif


# Specific files
copy_images.bat
setup_env.bat
update_buttons.py
update_buttons.ipynb
update_dropdown.py
update_html.py
update_images.py