# Virtual environments
venv/
myenv/
env/
cds_venv/

# Secrets and API keys
source/secrets/
**/.cdsapirc
**/cds_api

# Archived & compressed data
*.zip
*.tar*
*.7z
*.rar
*.gz
*.SAFE

# Temporary & auxiliary files
*.aux.xml
*.ovr
*.idx
*.lock

# Raster & geospatial data
*.nc
*.tif*
*.TIF*

# Ignore all image files globally
*.png
*.gif

# Allow everything inside the docs folder except CSV files
docs/**/*.csv
docs/*.csv

# Allow PNG & GIF files inside source/_static
!source_en/_static/*.png
!source_de/_static/*.png

# Specific scripts & batch files
copy_images.bat
setup_env.bat
update_buttons.py
update_dropdown.py
update_dropdown_v2.py
update_html.py
update_images.py
