# Virtual environments
venv/
myenv/
env/
cds_venv/

# Ignore everything in the folder and add the folder
source/notebooks/kurs_not_defined/data/landsatxplorer/working/*
!source/notebooks/kurs_not_defined/data/landsatxplorer/working/*


# Secrets and API keys
source/secrets/
**/.cdsapirc
**/cds_api

# Archived data
*.zip
*.tar
*.tar.gz
*.7z
*.rar
*.gz

*.csv
*.xls
*.xlsx

# Temporary files
*.aux.xml
*.ovr
*.idx
*.lock

*.nc
*.tiff
*.tif

*.png
*.gif
